<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668894355216-ut7bqas3qh954g8g6rsai7c6lchkhlcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668894355216-ut7bqas3qh954g8g6rsai7c6lchkhlcl</string>
	<key>API_KEY</key>
	<string>AIzaSyACAZ2QQli_-zkcE9_6PceFXA6bGUdLinA</string>
	<key>GCM_SENDER_ID</key>
	<string>668894355216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodolist</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-3cc40</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-3cc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668894355216:ios:1ce3393b43a87908954f95</string>
</dict>
</plist>